@page "/saidaspage/delete/{SaidaId:decimal}/{Day:int}/{Month:int}/{Year:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

@inject IHttpClientFactory HttpFactory
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav
@inject Kakeibo.AppHost.Web.Services.TokenService TokenService
@inject IStringLocalizer<SharedResources> L

<h3 style="padding-bottom:10px;">
    @L["Excluir Saída"]
</h3>

@if (saida == null && !deleted)
{
    <p>@L["Carregando registro..."]</p>
}
else
{
    <EditForm Model="deleteModel" OnValidSubmit="ConfirmDelete" FormName="DeleteSaidasForm">
        <DataAnnotationsValidator />

        <div class="card p-3">
            <p>
                <b>@L["Descrição:"]</b> @saida?.Descricao
            </p>
            <p>
                <b>@L["Valor:"]</b> @saida?.ValorDespesa.ToString("N2")
            </p>
        </div>

        <div class="d-flex align-items-center mt-2 gap-2">
            <button type="submit" class="btn btn-danger">
                🗑 @L["Excluir"]
            </button>

            <a class="btn btn-primary" href="/saidaspage/@UserId/@Day/@Month/@Year">
                @L["Cancelar"]
            </a>
        </div>
    </EditForm>
}

@code {
    [Parameter] public decimal SaidaId { get; set; }
    [Parameter] public int Day { get; set; }
    [Parameter] public int Month { get; set; }
    [Parameter] public int Year { get; set; }

    private Kakeibo.AppHost.Web.Models.Saidas? saida;
    private bool deleted;

    public string? UserId { get; set; } = string.Empty;

    private DeleteSaidaModel deleteModel = new();

    protected override async Task OnInitializedAsync()
    {
        var token = TokenService.GetToken();
        if (string.IsNullOrWhiteSpace(token))
        {
            Nav.NavigateTo("/login", forceLoad: true);
            return;
        }

        UserId = TokenService.GetUserIdFromToken();

        var client = HttpFactory.CreateClient("apis");
        saida = await client.GetFromJsonAsync<Kakeibo.AppHost.Web.Models.Saidas>(
            $"saidas/{SaidaId}"
        );

        deleteModel.SaidaId = SaidaId;
    }

    private async Task ConfirmDelete()
    {
        var client = HttpFactory.CreateClient("apis");
        var resp = await client.DeleteAsync($"saidas/{deleteModel.SaidaId}");

        if (resp.IsSuccessStatusCode)
        {
            deleted = true;
            saida = null;
            Nav.NavigateTo($"/saidaspage/{UserId}/{Day}/{Month}/{Year}");
        }
    }

    private sealed class DeleteSaidaModel
    {
        [Required]
        public decimal SaidaId { get; set; }
    }
}
