@page "/listadespesas"
@using Microsoft.AspNetCore.Authorization
@using Kakeibo.AppHost.Web.Models
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Nav
@inject Kakeibo.AppHost.Web.Services.TokenService TokenService
@inject IStringLocalizer<SharedResources> L

<PageTitle>@L["Lista de Despesas"]</PageTitle>

<h1>@L["Listagem das Despesas Mais Comuns"]</h1>

@if (despesas == null)
{
    <p><em>@L["Carregando..."]</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@L["ID"]</th>
                <th>@L["Tipo de Despesa"]</th>
                <th>@L["Despesa"]</th>
                <th>@L["Ações"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var despesa in despesas)
            {
                <tr>
                    <td>@despesa.DespesaId</td>
                    <td>@despesa.TipoDespesaNome</td>
                    <td>@despesa.NomeDespesa</td>
                    <td>
                        <a href="/listadespesas/editar/@despesa.DespesaId"
                           class="btn btn-sm btn-primary">
                            @L["Editar"]
                        </a>

                        <a href="/listadespesas/excluir/@despesa.DespesaId"
                           class="btn btn-sm btn-danger ms-2">
                            @L["Excluir"]
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-success"
            @onclick="@(() => Nav.NavigateTo("/listadespesas/adicionar"))">
        @L["Adicionar"]
    </button>
}

@code {
    private List<Despesa>? despesas;

    protected override async Task OnInitializedAsync()
    {
        var token = TokenService.GetToken();
        var userId = TokenService.GetUserIdFromToken();

        if (string.IsNullOrWhiteSpace(token))
        {
            Nav.NavigateTo("/login", forceLoad: true);
            return;
        }

        var client = HttpFactory.CreateClient("apis");
        despesas = await client.GetFromJsonAsync<List<Despesa>>(
            $"despesas/{userId}"
        );
    }
}
