@page "/login"
@using Kakeibo.AppHost.Web.Models
@using Microsoft.AspNetCore.WebUtilities
@rendermode InteractiveServer
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Nav
@inject ILogger<Login> Logger
@inject IStringLocalizer<SharedResources> L

<PageTitle>@L["Login"]</PageTitle>

<h1>@L["Login"]</h1>

@if (editContext is not null)
{
    <EditForm EditContext="editContext"
              OnValidSubmit="SubmitLogin"
              FormName="LoginInput">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>@L["Email"]</label>
            <InputText @bind-Value="loginModel.Email"
                       class="form-control" />
        </div>

        <div class="mb-3">
            <label>@L["Senha"]</label>
            <InputText @bind-Value="loginModel.Password"
                       type="password"
                       class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">
            @L["Entrar"]
        </button>
    </EditForm>
}

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red; padding-top: 10px;">@L[error]</p>
}

@code {
    private string? returnUrl;
    private LoginModel loginModel = new();
    private EditContext? editContext;
    private string? error;

    protected override void OnInitialized()
    {
        loginModel = new LoginModel
        {
            Email = string.Empty,
            Password = string.Empty
        };

        editContext = new EditContext(loginModel);
    }
        
    private async Task SubmitLogin()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = url;
        }

        try
        {
            Logger.LogInformation(
                "Submitting login for {Email}",
                loginModel.Email
            );

            var client = HttpFactory.CreateClient("local");
            var response =
                await client.PostAsJsonAsync(
                    "blazor-login",
                    loginModel
                );

            if (!response.IsSuccessStatusCode)
            {
                error = "Email ou senha inválidos.";
                return;
            }

            if (!string.IsNullOrWhiteSpace(returnUrl))
            {
                Nav.NavigateTo(returnUrl, true);
            }
            else
            {
                Nav.NavigateTo("/", true);
            }
        }
        catch (Exception ex)
        {
            error = $"Erro ao fazer login: {ex.Message}";
        }
    }
}
