@page "/tiposrendas/editar/{id:int}"
@using Kakeibo.AppHost.Web.Models
@using Microsoft.Extensions.Localization
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Nav
@inject Kakeibo.AppHost.Web.Services.TokenService TokenService
@inject IStringLocalizer<TiposRenda_Editar> L
@rendermode InteractiveServer

<PageTitle>@L["Tipos de Rendas - Editar"]</PageTitle>

<h3 style="padding-bottom:10px;">@L["Editar Tipo de Renda"]</h3>

@if (entrada == null)
{
    <p><em>@L["Carregando..."]</em></p>
}
else
{
    <EditForm Model="entrada" OnValidSubmit="SalvarAlteracoes" FormName="EditarTiposRenda">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label class="form-label">@L["ID"]</label>
            <input class="form-control" value="@entrada.TipoDeEntradaId" disabled />
        </div>

        <div class="mb-3">
            <label class="form-label">@L["Tipo de Renda"]</label>
            <InputText class="form-control" @bind-Value="entrada.TipoDeEntrada" />
        </div>

        <div class="d-flex align-items-center mt-2 gap-2">
            <button class="btn btn-primary" type="submit">
                @L["Salvar"]
            </button>

            <a class="btn btn-primary" href="/tiposrendas">
                @L["Cancelar"]
            </a>
        </div>
    </EditForm>
}

@code {
    [Parameter] public int id { get; set; }

    private TiposDeEntradas? entrada;

    protected override async Task OnInitializedAsync()
    {
        var token = TokenService.GetToken();
        var userId = TokenService.GetUserIdFromToken();

        if (string.IsNullOrWhiteSpace(token))
        {
            Nav.NavigateTo("/login", forceLoad: true);
            return;
        }

        var client = HttpFactory.CreateClient("apis");
        entrada = await client.GetFromJsonAsync<TiposDeEntradas>($"tiposentrada/{id}");

        if (entrada is null)
        {
            Nav.NavigateTo("/tiposrendas");
        }
    }

    private async Task SalvarAlteracoes()
    {
        var userId = TokenService.GetUserIdFromToken();
        entrada!.UserId = userId;

        var client = HttpFactory.CreateClient("apis");
        var response = await client.PutAsJsonAsync($"tiposentrada/{id}", entrada);

        if (response.IsSuccessStatusCode)
        {
            Nav.NavigateTo("/tiposrendas", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Erro ao salvar o tipo de renda");
        }
    }
}
